<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>

      {% if page_title %}
        {{ page_title }} - Orchestra Rosichino
      {% else %}
        Orchestra Rosichino - Spaghetti Samba
      {% endif %}

    </title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="/theme/css/styles.css" rel="stylesheet" />


    {% if page %}
    {% set canonical_url = page.url %}
    {% elif article %}
    {% set canonical_url = article.url %}
    {% endif %}
        <link rel="canonical" href="{{ SITEURL }}/{{ canonical_url }}" />



        <link rel="icon" type="image/x-icon" href="{{ SITEURL }}/theme/images/favicon.ico">
  </head>
  <body class="bg-warning">
    <div class="d-flex flex-column overflow-auto">
      <header class="bg-primary text-white py-3">
        <div class="container">
          <h1 class="rosichino-title text-warning display-3 fw-bold mb-3"  style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);">
            <a href="/" class="rosichino-title text-warning text-decoration-none">Orchestra Rosichino</a>
          </h1>
          <p class="lead fs-4 fw-light mb-0" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);">
            Il ritmo unico dello <strong>spaghetti samba</strong> da Bologna!
          </p>
        </div>
      </header>
      <nav class="navbar navbar-expand-sm navbar-dark bg-info">
        <div class="container">
          <!--
            <a class="navbar-brand" href="{{ SITEURL }}/">Home</a>
          -->
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/archives.html">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/pages/canzoni.html"
                  >Canzoni</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/pages/about.html"
                  >La Band</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/pages/media.html"
                  >Media</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/pages/contacts.html"
                  >Contatti</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <main class="container my-5">
        {% block content %}{% endblock %}
      </main>
      <footer class="bg-dark text-white py-3">
        <div class="container text-center">
          <p>&copy; 2025 Orchestra Rosichino - Tutti i diritti riservati.</p>
        </div>
      </footer>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    </div>
  </body>
</html>
